In [4]:
a = [1,2,3,5,6,7]
a.insert(3,4)

In [1]:
a = [1,2,3,5,6,7]
a.insert(3,4)
a

[1, 2, 3, 4, 5, 6, 7]

In [3]:
import pandas as pd
dict = {"001":"nishant","002":"shefali"}
print(dict["001"])

nishant

In [25]:
import pandas as pd
dict = {"country":["Brazil","Russia","India","China","South Africa"],
        "capital":["Brasilia","Moscow","New Delhi","Beijing","Pretoria"],
        "area":[8.516,17.10,3.286,9.597,1.221],
        "population":[200.4,143.5,1252,1357,52.98]
       }
info = pd.DataFrame(dict, [1,2,3,4,5])
info.head()
#print(info[:2])
print(info.iloc[:4,1])
info.describe()
info.insert(2,"pagal",[1,2,3,4,5])
info.head()

1     Brasilia
2       Moscow
3    New Delhi
4      Beijing
Name: capital, dtype: object

     area    capital  pagal       country  population
1   8.516   Brasilia      1        Brazil      200.40
2  17.100     Moscow      2        Russia      143.50
3   3.286  New Delhi      3         India     1252.00
4   9.597    Beijing      4         China     1357.00
5   1.221   Pretoria      5  South Africa       52.98